<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.hs.vgprogram" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vgprogram"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".recipe_detail"
            android:exported="false" />
        <activity
            android:name=".recipe_write"
            android:exported="false" />

        <activity android:name=".foodfd" />
        <activity
            android:name=".recipe"
            android:label="채식라이프" />
        <activity android:name=".mypage" />
        <activity
            android:name=".pwfind"
            android:exported="false" />
        <activity
            android:name=".idfind"
            android:exported="false" />
        <activity android:name=".signup" />
        <activity
            android:name=".MyAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_vgprog_content" />


    </application>

</manifest>